{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}LifeTab{% endblock %}</title>
   {% load staticfiles %}
   <!-- Bootstrap -->
   <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <link type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
   <link type="text/css" href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
   <!-- <link type="text/css" href="{% static 'admin/css/home.css' %}" rel="stylesheet"> -->
   <!-- <link rel="stylesheet" type="text/css" href="/static/css/grid.css"> -->
   
 </head>
 <body>
   {% block main %}{% endblock %}
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
   <!--<script type="text/javascript" src="{% static 'admin/js/bootstrap.min.js' %}"></script> -->
   <script type="text/javascript" src="{% static 'jquery/jquery.form.js' %}"></script>
   {% block scripts %}{% endblock %}
 </body>
</html>