{% extends 'lifetab/base.html' %}

{% load staticfiles %}

{% block main %}

{% if user and not user.is_anonymous %}

<style>
    .todo-block-sample{
        display: none;
    }
    .todo-block{
        display: block;
    }
    .todo-done{
        text-decoration: line-through;
    }
    .modal-backdrop.in{
        opacity: 0.5;
        z-index: 0;
    }
    #journal-block{
        z-index: 25;
    }
</style>

<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })

    $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- <div class="navbar-header"> -->
            <a class="navbar-brand" href="#" style="float: left;">
                <img alt="LifeTab" src="{%  static 'admin/img/LifeTab.png' %}" width="100px" style="margin-top:-2px;padding-top:10px;" />
            </a>
        <!-- </div> -->
        <a href="{% url 'auth:logout' %}?next={{ request.path }}"><button type="button" class="btn btn-danger navbar-btn navbar-right" style="margin-right: 10px;">Log Out</button></a>
    </div>
</div>
<div id="wrapper">


    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="journal-block" class="modal-content">
      <div class="modal-header">
        <i class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></i>
        <h4 class="modal-title journal-block-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div >
            <div class="journal-feeling-wrapper">
                <span>Feeling:&nbsp;</span>
                <span class="journal-block-feeling"></span>
            </div>
            <pre>
                <div class="journal-block-content"></div>
            </pre>
            <input type="hidden" class="journal-block-isprotected" value=""/>
        </div>
      </div>
      <div class="modal-footer">
        <i type="button" class="btn btn-primary journal-block-edit" onclick="javascript:editEntry(this);" data-id="">Edit</i>
        <i type="button" class="btn btn-danger journal-block-delete"  onclick="javascript:deleteEntry(this);" data-id="">Delete</i>
      </div>
    </div>
  </div>
</div>


<div id="panel-wrapper">
    <div class="panel panel-default" id="journals-panel">
        <div class="panel-heading heading">All Your Journals
            <div class="btn-close btn btn-default" style="float:right;" onclick="closeJournalsPanel()">x</div>
        </div>
        <div id="your-journals">
            <ul class="list-group" id="journal-list">
                Loading...
            </ul>
        </div>
    </div>
</div>



    <hr>
<div class="row" style="padding:2% 2%;">
   	<div id="left-section" class="col-md-4">
        <div class="row" style="padding:0%; margin:0% 5% 5% 5%;">
            <div id="today-box" class="sticky">
                    <h3 class="heading">TO-DOS</h3>
                <form action="{% url 'todo:create' %}" id="today-create" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="text" name="title" placeholder="What do you want to do?"/><br>
                        <input type="text" name="due" style="display:none"/><br>
                        <input type="submit" style="display:none"/>
                    </div>
                </form>
                <div id="samples">
                    <form action="{% url 'todo:done' %}" method="post" class="todo-block-sample">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-error g-uncheck" onclick="javascript:$(this).removeClass('g-uncheck').addClass('g-check');" value=""/>
                        <input type="hidden" class="todo-block-id" name="id" value="" />
                        <span class="todo-block-title"></span>
                    </form>

                    <!-- Sample div for Journal display -->
                    <li class="list-group-item journal-block-sample"  data-toggle="modal" data-target="#myModal" data-whatever="@mdo" onclick="javascript:showEntry(this);" data-id="">
                        <h3 class="journal-block-title"></h3>
                        <!-- <button class="journal-block-id" onclick="javascript:editEntry(this);" data-edit="">Edit</button> -->
                        <div class="journal-feeling-wrapper">
                            <span>Feeling:&nbsp;</span>
                            <span class="journal-block-feeling"></span>
                        </div>
                        <div class="journal-block-content"></div>
                        <input type="hidden" class="journal-block-isprotected" value=""/>
                    </li>
                </div>

                <div id="today-ul">
                    <div id="todo-todays"></div>
         		</div>
     		</div>
        </div>
            <div class="row" style="padding:0%; margin:0% 5% 5% 5%;">
         		<div id="future-box">
         			<h3 class="heading">FUTURE</h3>
                    <form action="{% url 'todo:create' %}" id="future-create" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            <input type="text" id="future-date" name="due" placeholder="Choose a due date"/><br>
                            <input type="text" name="title" placeholder="What do you want done?"/><br>
                            <input type="submit" style="display:none"/>
                        </div>
                    </form>
                    <div id="future-ul">
                        <div id="todo-futures"></div>
                    </div>
         		</div>
            </div>
     	</div>
     	<div id="center-section" class="col-md-4" style="margin: 0; padding: 0;">
     		<div id = "google-search" style="margin: 150px auto 0 auto;padding: 0;">
				<form id="tfnewsearch" method="get" action="http://www.google.com/search">
		        	<input type="text" class="tftextinput" name="q" maxlength="240" style="width: 70%;margin: 0; padding: 0;font-size: 18px;padding: 3px;">
                    <button type="submit" value="search" class="tfbutton btn btn-danger">Google Search</button>
				</form>
     		</div>
            <div style="position: absolute;color: rgba(217, 83, 66, 1); left: 200px;bottom: -600px;font-size: 16px;letter-spacing: 1px;text-shadow: 0 0 3px #FFF;padding: 0px 80px;border-bottom: 1px solid #FFF;font-family: helvetica;">LifeTab | &copy; 2015 Third Faction</div>
     	</div>


    <div id="right-section" class="col-md-4">
	   <div class="row">
            <div id="add-journal">
            <h3>ADD JOURNAL</h3>
                <form id="journal-create" action="{% url 'journal:edit' %}" method="post">
                    {% csrf_token %}
                    <div id="journal-message"></div>
                    {% if journal_form %}
                        <table class="table">
                            <input type="hidden" name="id" value=""/>
                            {{ journal_form.as_table }}
                            <tr><td colspan="2" style="text-align:center;">
                                <input type="submit" style="padding: 3px 3%;" class="btn btn-danger" value="Save Entry" id="journal-submit-button">
                                <i style="padding: 3px 3%;margin: 0 1%;font-style: normal;" class="btn btn-danger" onclick="javascript:$(this).closest('form').clearForm();">New Entry</i>
                                <i style="padding: 3px 3%;margin: 0 1%;" class="btn btn-danger" onclick="javascript:getJournalEntries();">Open All Journal Entries</i>
                            </td></tr>
                        </table>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
</div>

    {% else %}

<p>
        <div class="container">
      <div class="header">
        <h3 class="text-muted">*Logo*</h3>
      </div>

    <div class="jumbotron">
        <h1>LifeTab</h1>
        <p class="lead">The lifelogging app that let's you keep your thoughts in one place.</p>
        <p>
            <a class="btn btn-lg btn-success" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" role="button">Login with Google</a></p>
      </div>
    <footer class="footer">
        <p>&copy; ThirdFaction</p>
      </footer>
 </p>
   {% endif %}

 </div>
{% endblock %}



{% block scripts %}
<script type="text/javascript">


    function showEntry(elem){
        var entry_id = $(elem).attr('data-id');
        var post_data = {'id': entry_id, 'csrfmiddlewaretoken': "{{ csrf_token }}"};
            
        $.post("{% url 'journal:show' %}", post_data)
            .done(function(response){
                console.log(JSON.stringify(response));
                if (response.status="success"){
                    console.log("show_entry data:" + JSON.stringify(response));
                    var entry_id = response.data.id;
                    var entry_title = response.data.title;
                    var entry_content = response.data.content;
                    var entry_feeling = response.data.feeling;

                    $('#journal-block').find('.journal-block-edit').attr('data-id', entry_id);
                    $('#journal-block').find('.journal-block-delete').attr('data-id', entry_id);
                    $('#journal-block').find('.journal-block-content').html(entry_content);
                    $('#journal-block').find('.journal-block-feeling').html(entry_feeling);
                    $('#journal-block').find('.journal-block-title').html(entry_title);

                }else if(response.status=="error" && response.errors=="password"){
                    console.log('Incorrect passcode. Please try again!');
                }else{
                    console.log('Some random error occurred!');
                }
            })
            .fail(function(response){
                console.log(JSON.stringify(response));
            });
    }

    function editEntry(elem){
        // console.log(elem.html());        
        var entry_elem = $('#journal-block');
        var entry_id = entry_elem.find('.journal-block-edit').attr('data-id');
        var entry_title = entry_elem.find('.journal-block-title').html();
        var entry_content = entry_elem.find('.journal-block-content').html();
        var entry_feeling = entry_elem.find('.journal-block-feeling').html();

        //console.log(entry_elem.html());
        var form = $('#journal-create');
        // console.log(form.html());
        form.find(':input[name=content]').html(entry_content);
        form.find(':input[name=title]').attr('value', entry_title);
        form.find(':input[name=id]').attr('value', entry_id);
        options = form.find(':input[name=feeling]').find('option');
        console.log(options);
        feelings = {"happy":0, "sad":1, "nostalgic":2, "curious":3, "wonderful":4};
        $(options[feelings[entry_feeling]]).attr('selected', 'selected');

        $("#myModal").find('i.close').click();
        closeJournalsPanel();
    }

    function deleteEntry(elem){
        var entry_elem = $(elem);
        var entry_id = $(elem).attr('data-id');
        console.log(entry_id); 
        entry_elem = entry_elem.parent().parent()
        var entry_title = entry_elem.find('.journal-block-title').html();
        
        var answer = confirm('Are you sure you want to delete the entry "' + entry_title + '"');
        if(answer){
            var post_data = {'id': entry_id, 'csrfmiddlewaretoken': "{{ csrf_token }}"};
            console.log(post_data)
            $.post("{% url 'journal:delete' %}", post_data)
                .done(function(response){
                    if(response.status == "success"){
                        console.log(JSON.stringify(response));
                        // $("#myModal").find('button.close').click();
                        var title = response.data.title;
                        ht = "Your entry <span><em>'"+ title +"'</em></span> has been Deleted!";
                        closeJournalsPanel();
                        $("#myModal").find('i.close').click();
                        $("#journal-message").hide().html(ht).fadeIn('fast', function(){$(this).hide('slow');});
                        
                    }else{
                        console.log(JSON.stringify(response));
                        // $("#myModal").find('button.close').click();
                        var errors = response.errors;
                        ht = "Your entry <span><em>'"+ title +"'</em></span> Could not be deleted!<br/>Details: " + errors;
                        closeJournalsPanel();
                        $("#myModal").find('i.close').click();
                        $("#journal-message").hide().html(ht).fadeIn('fast').delay(1000).hide('slow');
                    }
                })
                .fail(function(response){
                    alert('Deletion failed due to system error! Please try again!\nError Code: ' + response.status);
                });
        }

    }


    function openJournalsPanel() {
        $("#journals-panel").animate({'margin-right': '0px'}, 'slow');
    }

    function closeJournalsPanel() {
        console.log("Hide called");
        setTimeout(function(){
            $("#journals-panel").animate({'margin-right': '-440px'}, 'fast');
        }, 500);
    }

</script>


<script> 
    // wait for the DOM to be loaded 
    
    function attachDoneListeners(elem){
        $(elem).ajaxForm({
            success: function(response, status, xhr, jqForm){
                console.log(JSON.stringify(response));
                if(response.status == "success"){
                    jqForm.find('.todo-block-title').addClass('todo-done');
                    jqForm.fadeOut('slow', function(){$(this).remove();});
                }else{
                    alert('There was a Server issue');
                }
            },
        }); 
    }

    $(function() {
        // bind 'myForm' and provide a simple callback function 
        $('#today-create').ajaxForm({
            beforeSubmit: function(formData, jqForm, options){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!

                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd;
                } 
                if(mm<10){
                    mm='0'+mm;
                } 
                var today = mm+'/'+dd+'/'+yyyy;
                for (var i=0; i < formData.length; i++) { 
                    if (formData[i].name == "due") {
                        formData[i].value = today; 
                        // alert('Please enter a value for both Username and Password'); 
                        // return false; 
                    } 
                } 
                var queryString = $.param(formData); 
                console.log(queryString);
            },
            success: function(response){
                console.log(JSON.stringify(response));
                if(response.status == "success"){
                    var todoid = response.data.id;
                    var title = response.data.title;
                    // console.log('id:' + todoid + ', title' + title);
                    var new_todo = $('.todo-block-sample')
                                        .clone()
                                        .removeClass('todo-block-sample')
                                        .addClass('todo-block');
                    new_todo.find('.todo-block-id').attr('value', todoid);
                    new_todo.find('.todo-block-title').html(title);
                    // console.log(new_todo.html());
                    new_todo.prependTo('#todo-todays');
                    new_todo.hide().fadeIn('slow');
                    attachDoneListeners(new_todo);
                }else{
                    console.log(JSON.stringify(response));
                }
                $('#today-create').clearForm();
            },
            error: function(){
            }
        });




        // fetch today's stuff
        $.get('/todo/today')
            .done(function(response){
                // console.log(JSON.stringify(response))
                var block = $('#today-todays');
                block.html('');
                var len = response.data.length;
                //console.log(len);
                for(var i=0; i<len; i++){
                    todoid = response.data[i].id;
                    title = response.data[i].title;
                    var new_todo = $('.todo-block-sample')
                                        .clone()
                                        .removeClass('todo-block-sample')
                                        .addClass('todo-block')
                    new_todo.find('.todo-block-id').attr('value', todoid);
                    new_todo.find('.todo-block-title').html(title);
                    new_todo.appendTo('#todo-todays');
                    attachDoneListeners(new_todo);
                }
            })
            .fail(function(response){
                alert(response.status);
            });       


        // bind 'myForm' and provide a simple callback function 
        $('#future-create').ajaxForm({
            success: function(response){
                console.log(JSON.stringify(response));
                if(response.status == "success"){
                    var todoid = response.data.id;
                    var title = response.data.title;
                    // console.log('id:' + todoid + ', title' + title);
                    var new_todo = $('.todo-block-sample')
                                        .clone()
                                        .removeClass('todo-block-sample')
                                        .addClass('todo-block');
                    new_todo.find('.todo-block-id').attr('value', todoid);
                    new_todo.find('.todo-block-title').html(title);
                    // console.log(new_todo.html());
                    new_todo.prependTo('#todo-futures');
                    new_todo.hide().fadeIn('slow');
                    attachDoneListeners(new_todo);
                }else{
                    console.log(JSON.stringify(response.errors));
                }
                $('#future-create').clearForm();
            },
            error: function(){
            }
        });
-



        // fetch today's stuff
        $.get('/todo/future')
            .done(function(response){
                // console.log(JSON.stringify(response))
                var block = $('#today-futures');
                block.html('');
                var len = response.data.length;
                //console.log(len);
                for(var i=0; i<len; i++){
                    todoid = response.data[i].id;
                    title = response.data[i].title;
                    var new_todo = $('.todo-block-sample')
                                        .clone()
                                        .removeClass('todo-block-sample')
                                        .addClass('todo-block')
                    new_todo.find('.todo-block-id').attr('value', todoid);
                    new_todo.find('.todo-block-title').html(title);
                    new_todo.appendTo('#todo-futures');
                    attachDoneListeners(new_todo);
                }
            })
            .fail(function(response){
                 alert(response.status);
            });

        $("#future-date").datepicker({'minDate': '+1d','defaultDate': '+1d'});

    }); 

    // fetch list of entries
    function getJournalEntries(){
        $.get('/journal/list')
            .done(function(response){
                console.log(JSON.stringify(response));
                $("#get-journals-button").html('Get Journals');
                var block = $('#journal-list');
                block.html('');
                var len = response.data.length;
                //console.log(len);
                for(var i=0; i<len; i++){
                    jid = response.data[i].id;
                    title = response.data[i].title;
                    // content  = response.data[i].content;
                    feeling  = response.data[i].feeling;
                    // is_protected = response.data[i].is_protected;
                    var new_entry = $('.journal-block-sample')
                                        .clone()
                                        .removeClass('journal-block-sample')
                                        .addClass('journal-block')
                                        .attr('data-id', jid);
                    new_entry.find('.journal-block-id').attr('data-edit', jid);
                    new_entry.find('.journal-block-title').html(title);
                    // new_entry.find('.journal-block-content').html(content);
                    new_entry.find('.journal-block-feeling').html(feeling);
                    // new_entry.find('.journal-block-isprotected').attr('value', is_protected);
                    new_entry.appendTo('#journal-list');
                    openJournalsPanel();
                }
            })
            .fail(function(response){
                $("#get-journals-button").html('Get Journals');
                alert(response.status);
            });
    }

    // wait for the DOM to be loaded 
    $(function() {
        // bind 'myForm' and provide a simple callback function 
        $('#journal-create').ajaxForm({
            beforeSubmit: function(){
                $('#journal-submit-button').attr('value', 'Saving...').prop('disabled', true);
            },
            success: function(response){
                // console.log(JSON.stringify(response));
                if(response.status == "success"){
                    var title = response.data.title;
                    $("#journal-create").clearForm();
                    ht = "Your entry <span><em>'"+ title +"'</em></span> has been saved!";
                    $("#journal-message").hide().html(ht).fadeIn('fast').delay(1000).hide('slow');
                }else{
                    console.log(JSON.stringify(response));
                    ht = "<span style='font-weight: bold;'>Error:</span><br/>";
                    for(error in response.errors){

                        ht += error.charAt(0).toUpperCase() + error.slice(1) + " : " + response.errors[error] + "<br/>";
                    }
                    $("#journal-message").hide().html(ht).fadeIn('fast').delay(3000).hide('slow');
                }
                $('#today-create').clearForm();
                $('#journal-submit-button').attr('value', 'Save Entry').prop('disabled', false);
            },
            error: function(response){
                alert('An error occurred. Error code: ' + response.status);
            }
        });

    }); 
</script> 
<style>
    .journal-block-sample{
        display: none;
    }
    .journal-block{
        display: block;
    }
    #journal-message{
        padding: 15px;
        color: white;
        background-color: rgba(217, 83, 79, 1.0);
        display: none;
    }
    #journal-message span{
        font-style: italic;
    }
    #your-journals{
        overflow: auto;
    }
</style>
{% endblock %}