{% extends 'lifetab/base.html' %}

{% block main %}

{% if user and not user.is_anonymous %}

<style>
    .todo-block-sample{
        display: none;
    }
    .todo-block{
        display: block;
    }
    .todo-done{
        text-decoration: line-through;
    }
</style>
<div id="wrapper">
 	<div class="row" id="header">
        <div class="col-md-2 col-md-push-10">
            <div style="width:60%; margin: 0% 0px 0% 50%; padding: 2%;">

                <a href="{% url 'auth:logout' %}?next={{ request.path }}"><button class="btn-info btn" type ="submit">LOGOUT</button></a>
            </div>
 		</div>
 	</div>
    <hr>
    <div class="row" style="padding:2% 2%;">
     	<div id="left-section" class="col-md-4">
            <div class="row" style="padding:0%;margin:0% 5% 15% 5%;">
         		<div id="today-box" class="sticky taped2">
         			<div class="heading">
                        <strong>TO-DOS</strong>
         			</div>
                        <form action="{% url 'todo:create' %}" id="today-create" method="post">
                            {% csrf_token %}
                            <input type="text" name="title" placeholder="What do you want to do?"/><br>
                            <input type="submit" style="display:none"/>
                        </form>
                    <div id="samples">
                        <form action="{% url 'todo:done' %}" id="today-create" method="post" class="todo-block-sample">
                            {% csrf_token %}
                            <input type="submit" value="X"/>
                            <input type="hidden" class="todo-block-id" name="id" value="" />
                            <span class="todo-block-title"></span>
                        </form>
                    </div>

                    <ul id="today-ul">
                        <div id="todo-todays"></div>
             		</ul>
         		</div>
            </div>
            <div class="row" style="padding:0%;margin:0% 5% 5% 5%;">
         		<div id="future-box" class="sticky taped3">
         			<div class="heading">
         				<strong>FUTURE</strong>
         			</div>
         				<form>
     						<input type="text"/><br>
                            <input type="submit" style="display:none">
         				</form>
         				
         		</div>
            </div>
     	</div>
     	<div id="center-section" class="col-md-4">
     		<div id = "google-search" style="margin: 20% 0 0 0">
    				<form id="tfnewsearch" method="get" action="http://www.google.com/search">
    		        	<input type="text" class="tftextinput" name="q" size="30" maxlength="120" style="padding:1%;">
                        <button type="submit" value="search" class="tfbutton" style="padding:1%;">
                            Google Search
                        </button>
    				</form>
     		</div>
     		<!-- <div id = "clock">
     			<iframe src="http://free.timeanddate.com/clock/i4i7et7v/n1648/szw300/szh300/hocfff/hbw0/cf100/hgr0/fas20/facfff/fdi92/mqc000/mqs2/mql3/mqw4/mqd70/mhc000/mhs2/mhl3/mhw4/mhd70/mmv0/hhs3/hms3/hsc00f" frameborder="0" width="302" height="306"></iframe>
            </div> -->
     	</div>


     	<div id="right-section" class="col-md-4">
     		<div id="add-journal">
     			<form id="journal-create" action="{% url 'journal:create' %}" method="post">
                {% csrf_token %}
                <div id="journal-message"></div>
                {% if journal_form %}
                    <table>
                        {{ journal_form.as_table }}
         				<!-- <textarea rows="8" cols="40" name="content" placeholder="Add a diary entry or a note here"></textarea> -->
                        <tr><td><input type="submit" value="Add entry" id="journal-submit-button"></td></tr>
                    </table>
                    <!-- <input type="checkbox" name="is_protected"/> -->
                {% endif %}
     				
     			</form>
     		</div>
     	</div>
    </div>
</div>


<!-- The Journal panel for slide in and slide out from the right -->
<div id="journal-wrapper">
    <div id="your-journals">
        <!-- Sample div for Journal display -->
        <div class="journal-block-sample">
            <h3 class="journal-block-title"></h3>
            <!-- <button class="journal-block-id" onclick="javascript:editEntry(this);" data-edit="">Edit</button> -->
            <div class="journal-feeling-wrapper">
                <span>Feeling:&nbsp;</span>
                <span class="journal-block-feeling"></span>
            </div>
            <div class="journal-block-content"></div>
            <input type="hidden" class="journal-block-isprotected" value=""/>
        </div>


        <button id="get-journals-button" onclick="javascript:$(this).html('Fetching...');getJournalEntries();">Get journals</button>
        <div id="journal-list">
            <p>Loading...</p>
        </div>
    </div>

    <div id="journal-detail">
        <h3 class="journal-block-title"></h3>
        <button class="journal-block-id" onclick="javascript:editEntry(this);" data-edit="">Edit</button>
        <div class="journal-feeling-wrapper">
            <span>Feeling:&nbsp;</span>
            <span class="journal-block-feeling"></span>
        </div>
        <div class="journal-block-content"></div>
        <input type="hidden" class="journal-block-isprotected" value=""/>
    </div>
</div>

<p>
  
    {% else %}
    <div class="content">
       <div class="row">
            <div class="col-lg-6 col-lg-push-3">
                <div class="alignment">
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><button type="submit" class="btn-danger btn-lg">Login with Google</button></a>
                </div>
           </div>
        </div>
        <hr>
        <div class="row">
           <div class="col-lg-6 col-lg-push-3">
            <div class="alignment">
               <form action="/login" method="post"><h3>Use normal login</h3>
                    {% csrf_token %}
                        <br><input type="text" name="username"/><br>
                        <input type="password" name="password"/><br>
                        <input type="submit" value="Login"/><br>
                </form>
             </div>
            </div>
        </div>
    </div>
   {% endif %}
   
 </p>
 </div>
{% endblock %}



{% block scripts %}
<script> 
    // wait for the DOM to be loaded 
    $(function() {
        // bind 'myForm' and provide a simple callback function 
        $('#today-create').ajaxForm({
            success: function(response){
                console.log(JSON.stringify(response));
                if(response.status == "success"){
                    var todoid = response.data.id;
                    var title = response.data.title;
                    // console.log('id:' + todoid + ', title' + title);
                    var new_todo = $('.todo-block-sample')
                                        .clone()
                                        .removeClass('todo-block-sample')
                                        .addClass('todo-block');
                    new_todo.find('.todo-block-id').attr('value', todoid);
                    new_todo.find('.todo-block-title').html(title);
                    // console.log(new_todo.html());
                    new_todo.prependTo('#todo-todays');
                    new_todo.hide().fadeIn('slow');
                    attachDoneListeners(new_todo);
                }else{
                    console.log(JSON.stringify(response.errors));
                }
                $('#today-create').resetForm();
            },
            error: function(){

            }
        });


        function attachDoneListeners(elem){
            $(elem).ajaxForm({
                success: function(response, status, xhr, jqForm){
                    console.log(JSON.stringify(response));
                    if(response.status == "success"){
                        jqForm.find('.todo-block-title').addClass('todo-done');
                        jqForm.fadeOut('slow', function(){$(this).remove();});
                    }else{
                        alert('There was a Server issue');
                    }
                },
            }); 
        }


        // fetch today's stuff
        $.get('/todo/today')
            .done(function(response){
                // console.log(JSON.stringify(response))
                var block = $('#today-todays');
                block.html('');
                var len = response.data.length;
                //console.log(len);
                for(var i=0; i<len; i++){
                    todoid = response.data[i].id;
                    title = response.data[i].title;
                    var new_todo = $('.todo-block-sample')
                                        .clone()
                                        .removeClass('todo-block-sample')
                                        .addClass('todo-block')
                    new_todo.find('.todo-block-id').attr('value', todoid);
                    new_todo.find('.todo-block-title').html(title);
                    new_todo.appendTo('#todo-todays');
                    attachDoneListeners(new_todo);
                }
            })
            .fail(function(response){
                alert(response.status);
            });       

    }); 

    function editEntry(elem){
        jid = $(elem).attr('data-edit');
        console.log('Trying to edit journal id: ' + jid);
        data = {'id': jid, 'csrfmiddlewaretoken': '{{ csrf_token }}' }
        $.post('/journal/show', data)
            .done(function(response){
                console.log(JSON.stringify(response));
            })
            .fail(function(response){
                alert('An error occurred. Status code:' + response.status);
            });
    }

    // fetch list of entries
    function getJournalEntries(){
        $.get('/journal/list')
            .done(function(response){
                console.log(JSON.stringify(response));
                $("#get-journals-button").html('Get Journals');
                var block = $('#journal-list');
                block.html('');
                var len = response.data.length;
                //console.log(len);
                for(var i=0; i<len; i++){
                    jid = response.data[i].id;
                    title = response.data[i].title;
                    content  = response.data[i].content;
                    feeling  = response.data[i].feeling;
                    is_protected = response.data[i].is_protected;
                    var new_entry = $('.journal-block-sample')
                                        .clone()
                                        .removeClass('journal-block-sample')
                                        .addClass('journal-block')
                    new_entry.find('.journal-block-id').attr('data-edit', jid);
                    new_entry.find('.journal-block-title').html(title);
                    new_entry.find('.journal-block-content').html(content);
                    new_entry.find('.journal-block-feeling').html(feeling);
                    new_entry.find('.journal-block-isprotected').attr('value', is_protected);
                    new_entry.appendTo('#journal-list');
                }
            })
            .fail(function(response){
                $("#get-journals-button").html('Get Journals');
                alert(response.status);
            });
    }

    function showEntry(elem){
        var jid = $(elem).attr('data-id');
        $.post("{% url 'journal:show' %}")
            .done(function(response){
                console.log(JSON.stringify(response));
                if (response.status="success"){
                    console.log('successfully fetched!');
                }else if(response.status=="error" && response.errors=="password"){
                    console.log('Incorrect passcode. Please try again!');
                }else{
                    console.log('Some random error occurred!');
                }
            })
            .fail(function(response){
                console.log(JSON.stringify(response));
            });
    }


    // wait for the DOM to be loaded 
    $(function() {
        // bind 'myForm' and provide a simple callback function 
        $('#journal-create').ajaxForm({
            beforeSubmit: function(){
                $('#journal-submit-button').attr('value', 'Saving...').prop('disabled', true);
            },
            success: function(response){
                // console.log(JSON.stringify(response));
                if(response.status == "success"){
                    title = response.data.title;
                    $("#journal-create").resetForm();
                    ht = "Your entry <span><em>'"+ title +"'</em></span> has been saved!";
                    $("#journal-message").hide().html(ht).fadeIn('fast').delay(1000).hide('slow');
                }else{
                    console.log(JSON.stringify(response.errors));
                }
                $('#today-create').resetForm();
                $('#journal-submit-button').attr('value', 'Add Entry').prop('disabled', false);
            },
            error: function(response){
                alert('An error occurred. Error code: ' + response.status);
            }
        });

    }); 
</script> 
<style>
    #your-journals{
        margin: 15px;
        padding: 10px;
        background-color: maroon;
        color: gray;

    }
    .journal-block-sample{
        display: none;
    }
    .journal-block{
        display: block;
    }
    .journal-block:hover{
        background-color: red;
    }
    #journal-message{
        padding: 15px;
        color: white;
        background-color: green;
        display: none;
    }
    #journal-message span{
        font-style: italic;
    }
</style>
{% endblock %}